
@{
    ViewData["Title"] = "Introduction";
}
@section Banner{
    <div class="bg-image" style="background-image: url('@Url.Content("~/assets/images/slide/home-page-slide.jpg")');
height: 50vh;">
    </div>
}
<section id="why-us" class="mt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="section-heading fw-bold mb-4">WHY CHOOSE US</h2>
                <p class="text-muted">
                    At Karnel Travels, we take pride in being your premier choice for travel and tourism.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="icon-box text-center">
                    <i class="fas fa-globe fa-2x"></i>
                    <h3>Extensive Network</h3>
                    <p class="text-muted">
                        Our extensive network ensures that you have access to a wide range of destinations, from popular tourist spots to hidden gems.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon-box text-center">
                    <i class="fas fa-suitcase fa-2x"></i>
                    <h3>Complete Travel Solutions</h3>
                    <p class="text-muted">
                        We offer complete travel solutions, including transportation, accommodation, and packages, making your journey hassle-free and memorable.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon-box text-center">
                    <i class="fas fa-heart fa-2x"></i>
                    <h3>Customer-Centric Approach</h3>
                    <p class="text-muted">
                        Our customer-centric approach ensures that your needs and preferences are our top priority, providing you with a personalized and delightful experience.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="what-offer" class="mt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="section-heading fw-bold mb-4">WHAT WE OFFER?</h2>
                <p class="text-muted">
                    At Karnel Travels, we take pride in offering a myriad of services designed to make your travel seamless, memorable, and truly extraordinary. Our commitment is to provide you with an unparalleled travel experience, offering a range of services that cater to all your travel needs.
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <ul class="list-group list-group-light list-group-small">
                    <li class="list-group-item border-0">
                        <i class="fas fa-arrow-right-long me-3"></i>Transportation
                    </li>
                    <li class="list-group-item border-0">
                        <i class="fas fa-arrow-right-long me-3"></i>Accommodations

                    </li>
                    <li class="list-group-item border-0">
                        <i class="fas fa-arrow-right-long me-3"></i>Tour Packages

                    </li>
                    <li class="list-group-item border-0">
                        <i class="fas fa-arrow-right-long me-3"></i>Culinary Delights

                    </li>
                    <li class="list-group-item border-0">
                        <i class="fas fa-arrow-right-long me-3"></i>Information Hub
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                Embark on hassle-free travel with our safe transportation. Enjoy comfort and luxury in handpicked accommodations. Explore the country's beauty through curated tour packages. Indulge in culinary delights at fine restaurants. Stay informed with our Information Hub for exclusive deals and insights.
            </div>
        </div>

    </div>
</section>