<section id="_navtop">
    <div class="container mt-3 mb-3">
        <div class="d-flex justify-content-between">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb fs-6 mb-0">
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-regular fa-envelope me-1"></i>
                        <a href="#" class="text-decoration-none nav-link">
                            info@karneltravels.com
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-solid fa-phone me-1"></i>
                        <a href="#" class="text-decoration-none nav-link">
                            +84 123123123
                        </a>
                    </li>
                </ol>
            </nav>
            <div class="row">
                <div class="col">
                    <a href="#" class="text-decoration-none nav-link">
                        <i class="fa-brands fa-facebook fa-lg"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="text-decoration-none nav-link">
                        <i class="fa-brands fa-instagram fa-lg"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="text-decoration-none nav-link">
                        <i class="fa-brands fa-twitter fa-lg"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="text-decoration-none nav-link">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>